/* za računanje em-ov sem vzel 1em = 21px */

@font-face {
    font-family: Dosis-Light;
    src: url("../fonts/Dosis/Dosis-Light.ttf");
}

@font-face {
    font-family: Dosis-Medium;
    src: url("../fonts/Dosis/Dosis-Medium.ttf");
}

@font-face {
    font-family: Dosis-Bold;
    src: url("../fonts/Dosis/Dosis-Bold.ttf");
}

@font-face {
    font-family: PFMuse-Light;
    src: url("../fonts/PFMuse/pfmuse-light.ttf");
}

@font-face {
    font-family: PFMuse-Regular;
    src: url("../fonts/PFMuse/pfmuse-regular.ttf");
}

@font-face {
    font-family: PFMuse-Bold;
    src: url("../fonts/PFMuse/pfmuse-bold.ttf");
}

@font-face {
    font-family: PFMuse-BoldItalic;
    src: url("../fonts/PFMuse/pfmuse-bolditalic.ttf");
}

html {
    height: 100%;
}

body {
    font-family: Dosis-Medium;
    /* font-size se mora ujemati z var DEFAULT = 21; v fontresizer.js */
    font-size: 16px; /* 21px ==  16pt */
    line-height: 20px; /* 26px == 19.2pt == 25.6px */
    height: 100%;
}

article a.header {
    font-size: 1em;
}

a:hover, a:focus {
    color: #124354;
}

/* Basic style rule to outline and space block-level elements */
[class*="span"] {
    /*border: solid 1px green;*/
}

.span2.levo {
    width: 13%;
}

[class*="row"] {
    /*border: solid 1px yellow;*/
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    /* !!!PAZI!!! padding-top se nastavlja tudi v userIDK.js */
    padding-top: 85px; /*7.2em = 136px; */  /* mora bit enak header.row height */
    /* !!!PAZI!!! padding-bottom se nastavlja tudi v userIDK.js */
    padding-bottom: 173px; /* 8.1em = 170px; */
    margin: 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.content-scrollable {
    /*overflow: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

#header {
    /* nastavil div id=header --> class="navbar-fixed-top" */
}

#footer {
    /* nastavil div id=footer --> class="navbar-fixed-bottom" */
    /*position: fixed;*/
    /*bottom: 0;*/
}

header.row {
    position: relative;
    /*margin-left: 0;*/
    background: #124354;
    color: #CCCCCC;
    font-size: 15px; /* 0.875em; */
    line-height: 18px; /* 1.05em; */
    height: 85px;
}


header .span2.levo {
    width: 12.7%;
}

header div.levo {
    background-color: #00ADEF;
    /*border-bottom: 1px solid red;*/
    position: absolute;
    height: 100%;
    /*display: table-cell;*/
    /*float: none;*/
    /*margin-right: 10px;*/
}

/* s temle spodnjim preprečim da se cel header pobarva svetlo plavo (kot je header div.levo) */
@media (max-width: 767px) {
    .row [class*="levo"] {
        width: 0%;
    }
}

header p {
    padding-top: 5px;
}

header div.sredina {
    /*border: 2px red solid;*/
    padding-left: 13.5%;
    /*display: table-cell;*/
    /*float: none;*/
    /*z-index: 1;*/
}

header div.desno img {
    position: absolute;
    bottom: 0em;
    right: 8.4%;
    /*max-width: 367px;*/
    /*max-height: 111px;*/
}

header span.organizacija {
    color: #00ADEF;
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: justify;
}

article [class*="span"] {
    margin: 0;
}

article h1 {
    font-size: 1.25em;
    font-weight: normal;
    /*padding-top: 0;*/
    color: #333333;
}

a.link_h1 {
    font-size: 1em;
}

article a {
    font-size: 1.25em;
    color: #00ADEF;
    padding-top: 0;
}

article a.more {
    font-family: Dosis-Light;
    font-size: 1em;
}

article a.link_tekst {
    font-family: Dosis-Medium;
    font-size: 1em;
}

article p {
    font-size: 1em;
    padding-top: 1em;
    color: #124455;
}

article p.light {
    font-family: Dosis-Light;
}

article img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

article ol {
    text-align: left;
    margin: 0 0 10 17;
}

article ol li {
    color: #124455;
    line-height: 1.23em;
}

article ul {
    text-align: left;
    margin: 0 0 10 10;
}

article ul li {
    list-style-type: none;
    text-indent: -0.4em;
    color: #124455;
    line-height: 1.23em;
}

article ul li:before {
    content: "-";
    position: relative;
    left: -5px;
}

div#seznam_organizacij p {
    margin-top: 2em;
    margin-bottom: 0;
}

article.organizacije.podrobnosti {
    margin-left: 0;
}

article.organizacije.podrobnosti ol {
    margin-left: 0;
}

article.organizacije.podrobnosti li {
    list-style-position: inside;
    padding-bottom: 1em;
}

article.organizacije.podrobnosti li header {
    margin-left: 1em;
    display: inline-block;
}

article.organizacije.podrobnosti li section {
    font-family: Dosis-Light;
}

article.organizacije.seznam {
    float: right;
}

hr {
    border: 1px solid #CCCCCC;
    margin-top: 0;
}

ol.organizacije.seznam {

}

div.row.border-top {
    border-top: 2px solid #CCCCCC;
}

div.sidepane {
    text-align: right;
    position: relative;
}

div.sidepane > div.print {
    padding-top: 1.43em;
    padding-bottom: 3.33em;
    border-right: 2px solid #CCCCCC;
}

div.sidepane > aside h1 {
    font-family: PFMuse-BoldItalic;
    font-size: 1.25em;
}

div.sidepane > aside ul {
    margin: 0;
    overflow-y: auto;
}

div.sidepane > aside li {
    font-size: 1em;
    line-height: 1.5em;
    list-style-type: none;
}

div.sidepane > aside li.subtitle a {
    color: #666666;
}

nav#primary-navigation {
    text-align: center;
}

hr.navi {
    margin: 10px 0 0 0;
    border: solid 2px #333333;
    width: 70%; /* 890px; */
}


nav ul.navi.tretjavrsta {
    padding-bottom: 10px;
}

nav ul.navi {
    font-family: PFMuse-Regular;
    font-size: 25px; /* 1.375em; */
    /*border: 1px solid blue;*/
    /*border-bottom: solid 2px #333333;*/
    /*padding-bottom: 0.3em;*/
    /*margin-bottom: 1.3em;*/
    display: inline-table;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul.navi li {
    display: inline-table;
    padding-right: 10px;
    /*border: 1px solid red;*/
    width: 100px;
}

nav ul.navi li.logo {
    width: 211px;
}

nav ul.navi li:first-child {
    /*margin-left: 14.8936%;*/
}

nav ul.navi li img {
    width: 211px;
    height: 70px;
    /*width: 13.1875em;*/
    /*height: 4.375em;*/
    /*width: 9.23125em;*/
    /*height: 3.0625em;*/
    /*float: right;*/
    /*position: relative;*/
    /*top:  -1.6em;*/
    /*left: -6em;*/
}

nav ul.navi li a {
    color: #333333;
}

nav ul.navi li a:hover {
    color: #00ADEF;
    font-family: PFMuse-Bold;
}

/* tole je moment ko klikneš na link */
nav ul.navi li a:active {
    font-family: PFMuse-BoldItalic;
    /*color: red;*/
}

/* tole je class active, dolocen v html-ju*/
nav ul.navi li.active a {
    font-family: PFMuse-BoldItalic;
    color: #124354;
    /*color: red;*/
}

nav ul.navi li.kontakt_aktualno {
    /*position: relative;*/
    /*top: 20px; *//* 0.7em; */
}

nav ul.navi li a.aktualno {
    background: #333333;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*position: relative;*/
    /*top:  1.4em;*/
    /*left: -5em;*/
}

nav ul.navi li a.aktualno:hover {
    color: #00ADEF;
}

footer {
    background: #124354;
    color: #b3b3b3;
    margin-left: 0;
}

footer [class*="span"] {
    /*border: 1px solid red;*/
    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
    height: 28px; /* 1.6em; */
    font-size: 16px;
}

footer div.fontresize a img {
    padding: 7px;
}

.tooltip {
    font-size: 1em;
}

footer div.selectlanguage p {
    padding: 2px;
}

footer div.selectlanguage a.active {
    font-family: PFMuse-Bold;
    color: #f2f2f2;
}

footer div.selectlanguage a.nonactive {
    font-family: PFMuse-Light;
}

/* projekti.html */
h1.naslov_clanka {
    line-height: 1.1em;
}

a.link_luden {
    font-size: 1em;
}

#slideshow {
    position:relative;
    height: 17em; /* 240px; */
    width: 100%;
}

#slideshow IMG {
    position:absolute;
    top:1em;
    left:0;
    z-index:8;
    height: 90%;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

/* storitve.html */
div.sidepane_fixed {
    position: fixed;
    left: 70%;
}

ul.notranji li {
    list-style: disc;
    list-style-position: inside;
    padding-left: 2em;      /* zamakne celoten ul bolj desno, ker je notranji */
    text-indent: -0.9em;    /* popravi css v primeru da je ena alineja dolga za dve vrsti  */
}

ul.notranji li:before {
    content: "";
    /*position: relative;*/
    /*left: -5px;*/
}

div.sredina div.storitve_stolpci div {
    color: #124455;
    width: 12%;
    text-align: left;
}

div.sredina div.storitve_stolpci header {
    font-family: Dosis-Bold;
}

div.sredina div.storitve_stolpci a.storitve {
    color: #124455;
}

div.sredina div.storitve_stolpci a.storitve:hover {
    color: #00ADEF;
}

div.sredina div#paketi_zgoraj {
    /*padding-bottom: 2em;*/
}

div.sredina [id*="paket_"] p {
    padding-top: 0;
}

div#paketi_opomba {
    font-family: Dosis-light;
    font-size: 0.8em;
    line-height: 1em;
}

div#paketi_opomba p {
    padding-top: 1em;
    /*padding-left: 0.5em;*/
}

article.span10.storitve {
    padding-bottom: 0;
}


/* domov.html */
h1.domov_naslov {
    font-size: 2.28em;
    line-height: 1.2em;
    padding-bottom: 1.5em;
    color: #124354;
}

h2.domov {
    font-size: 1.14em;
    line-height: 1.3em;
    font-weight: normal;
    color: #333333;
    /*padding-top: 1em;*/
}

article span.domov_organizacija {
    color: #1F6D8A;
}

ul.domov {
    padding-bottom: 1em;
}

ul.domov_ul li {
    color: #1F6D8A;
}

div.sidepane.domov img {
    padding-top: 7em;
}

span.slidelink:hover {
    color: #00ADEF;
    cursor: pointer;
}

span.slideup {
    font-size: 1.25em;
    line-height: 1.3em;
    font-weight: normal;
    color: #333333;
    padding-top: 1em;
}

span.slidedown {
    font-size: 0.9em;
    color: #666666;
    padding-left: 0.2em;
}


/* povezave.html */
article span.povezave_naslov_linka {
    display: block;
}

article p.povezave_link {
    padding: 0;
}

article p.povezave_link a {
    font-family: Dosis-Light;
    font-size: 1em;
    color: #124455;
}

/* o_nas.html */
p.odstavek_siv {
    padding-top: 2em;
    color: #333333;
}

a.link_manjsi {
    font-size: 1em;
}

div.klara img {
    width: 65%;
    float: left;
}

div.klara h1 {
    clear: both;
}

div.tanja {
    text-align: right;
}

div.tanja img {
    width: 65%;
    float: right;
}

div.tanja h1 {
    clear: both;
}

h1.o_nas_link_ime a {
    color: #808080;
    font-size: 1em;
    line-height: 1em;
}
h1.o_nas_link_ime {
    margin-top: 0;
}

p.o_nas {
    color: #1F6D8A;
}

div.sredina div.prazno {
    height: 1em;
}


/* kontakt.html */
article.kontakt {
    padding-top: 1em;
}

article.kontakt span.kontakt_span_naslov {
    font-family: Dosis-Medium;
    font-size: 1.25em;
    line-height: 1.52em;
    font-weight: normal;
    color: #333333;
    list-style: none;
    margin: 0;
    display: block;
}

article.kontakt span#kontakt_span_3 {
    line-height: 0.8em;
    padding-bottom: 0.5em;
}

article.kontakt p {
    font-family: Dosis-Medium;
    color: #1F6D8A;
}

article.kontakt p.no_padding_top {
    padding-top: 0;
}

article.kontakt p a {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: #1F6D8A;
}

article.kontakt p.manjsi_font {
    font-size: 0.76em;
}

article.kontakt span.kontakt_nicla {
    padding-left: 0.5em;
    color: #CCCCCC;
}

article.kontakt textarea {
    width: 100%;
    height: 5em;
    font-family: Dosis-Light;
    font-size: 1em;
    resize: none;
}

article.kontakt form #kontakt_email div input {
    width: 100%;
    height: 2em;
}

article.kontakt button {
    font-family: Dosis-Medium;
    font-size: 0.76em;
    float: right;
}

span.formoutput.error p {
    color: #b94a48;
}

span.formoutput.success {
    color: #468847;
}